.estadoActivo {
    width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fff01e;
}

.estadoOcupado {
    width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #bb0a0a;
}

.estadoUso {
    width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #25992f;
}


.entrarUpdate {
    color: black;
}

.terminarPractica {
    color: white;
}

.terminarPractica:hover {
    color: white;
}

.entrarDelete {
    color: white;
}

.entrarUpdate:hover {
    color: white;
}

.entrarDelete:hover {
    color: black;
}

.entrarA:hover {
    color: white;
}

.entrarB {
    color: green;
}

.entrarB:hover {
    color: white;
}