

/*PANEL DE CONTROL*/




.onoffswitch {
	
	position: relative; width: 106px;
	top: 15%;
	left:20%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "AUTO";
    padding-left: 5px;
    background-color: #34C240; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "MANUAL";
    padding-right: 5px;
    background-color: #FF7300; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
	right: 74px;
	height: 25px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



/**/
.controls-container{
	
	float:left;
	width: 50%;
}

.controls-panel {
	margin-top: 20px;
	width: 400px;
	height: 450px;
	
}


/*BOTONES SELECTORES DE RADIO*/
  
#ins{
	text-align: center;
	margin: 3px auto;
	color: rgb(255, 255, 26);
}
/**/

.playButtons-container {
	display:flex;
	margin-left: 60px;
	margin-top: 113px;
}
#L1{
	margin-top: 4px;
	margin-left: -2px;
	font-size: 20px;
	font-weight: bold;
}
#L2{
	margin-top: -1px;
	margin-left: 42px;
	font-size: 20px;
	font-weight: bold;
}
.playpause label {
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 60px;

	border-color: transparent transparent transparent #202020;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: double;
	border-width: 0px 0 0px 60px;
	margin-left: 2px;
  }
  .playpause input[type="checkbox"] {
	position: absolute;
	left: -9999px;
  }

  .playpause input[type="checkbox"]:checked + label {
	border-style: solid;
	height: 60px;
	border-width: 30px 0 30px 60px;
  }

  .playpause input[type="checkbox"]:focus + label {
	height: 60px;
	box-shadow: 0 0 5px lightblue;
  }
  


/**/

@keyframes shadow-pulse{
	0% {
	  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
	  box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
  }

.record label{
    display: block;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid; 
    border-radius: 35px;
    border-width: 4px;
    background: blanchedalmond;
	border-color: black;
	margin-left: 50px;
	margin-bottom: 4px;

    
}

.record input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    

}

.record input[type = "checkbox"]:checked + label {
    height: 65px;
    width: 65px; 
    border-style: solid;
    border-width:4px;
    border-color: blanchedalmond;
    background:rgba(221, 13, 31, 0.973);
    animation: shadow-pulse 1s infinite;
}

.record:focus + label{
    box-shadow: 0 0 5px rgb(89, 18, 170);
    
}



#msg {
	font-weight: bold;
	margin-top: 210px;
	font-size: 20px;
	margin-left: -190px;

}


@media only screen and (min-width: 400px) {
	.videos2 {
		height: 20px;
	}
}

#modalResults {
	max-width: 800px;
}