<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LabRemoto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="login">Login</a>
            <a class="nav-item nav-link" href="mcu">mcu</a>
            <a class="nav-item nav-link" href="#">More Data</a>
        </div>
    </div>
</nav> 
-->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <%if (status == "true") { %>
        <h1 class="text-light"><a href="/session">LabRemotoUTPL</a></h1>
      <% }else { %>
        <h1 class="text-light"><a href="/">LabRemotoUTPL</a></h1>
      <% } %>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <%if (status == "true") { %>
          <li class="active"><a href="/session">Home</a></li>
        <% }else { %>
          <li class="active"><a href="/">Home</a></li>
        <% } %>
        
        <li><a href="#benefits">Beneficios</a></li>
        <li><a href="#team">Equipo</a></li>
        <%if (status == "true") { %>
          <li><a href="mcu">Maqueta</a></li>
          <li class="get-started"><a href="/logout"><%= usernames %></a></li>
          
      <% }else { %>
        <li class="get-started"><a href="login">Inicio de sesión</a></li>
      <% } %>
        
        <!-- <li><a href="#faq">F.A.Q</a></li>
          <li><a href="#contact">Contact Us</a></li> -->

        
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->