<!-- Navigation -->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <%if (status == "true") { %>
        <h1 class="text-light"><a href="/session">LabRemotoUTPL</a></h1>
      <% }else { %>
        <h1 class="text-light"><a href="/">LabRemotoUTPL</a></h1>
      <% } %>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <%if (status == "true") { %>
          <li class="active"><a href="/session">Home</a></li>
        <% }else { %>
          <li class="active"><a href="/">Home</a></li>
        <% } %>
        
        <li><a href="#benefits">Beneficios</a></li>
        <li><a href="#team">Equipo</a></li>
        <%if (status == "true") { %>
          <%if (rol == "estudiante") { %>
            <li><a href="reserva">Reserva</a></li>
            <li><a href="project">Proyectos</a></li>
            <li ><a href="listReserva">Lista de Reservas</a></li>
          <% }else { %>
            <li><a href="mcu">Maqueta</a></li>
            <li ><a href="listReserva">Lista de Reservas</a></li>
          <% } %>
          <li class="get-started"><a href="/logout"><%= names %></a></li>
          
      <% }else { %>
        <li class="get-started"><a href="login">Inicio de sesión</a></li>
      <% } %>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->